html,
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	min-width: 1200px;
	background-color: #ffffff;
}
.filters {
	background-color: #ffffff;
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
.container {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.main-header-logo {
	width: 140px;
	height: 71px;
	margin-left: 51px;
	margin-right: 53px;
	position: absolute;
	left: 479px;
}
.form-search {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: none;
}
.form-search:hover,
.form-search:focus,
.form-search:active {
	background-color: #663d15;
}
.main-navigation {
	display: flex;
	position: absolute;
	background-color: #ffffff;
}
.site-navigation {
	display: flex;
	line-height: 26px;
	color: #000000;
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
	background-color: transparent;
	width: 1200px;
	position: relative;
}
.menu-section {
	text-align: center;
	line-height: 26px;
	font-weight: bold;
}
.info{
	width: 93px;
	height: 12px;
	padding: 16px 74px 25px 72px;
}
.photo{
	width: 98px;
	height: 12px;
	padding: 16px 68px 25px 73px;
}
.map-state{
	width: 90px;
	height: 10px;
	padding: 16px 73px 28px 76px;
	margin-left: 244px;
}
.hotels{
	width: 79px;
	height: 12px;
	padding: 16px 72px 27px 88px;
}
.welcome-pic {
	width:1200px;
	height: 564px;
	background-image: url("../img/polygon.png"), url("../img/bg.jpg");
	background-position: -1px 506px,top center;
	background-repeat: no-repeat no-repeat;
}
.welcome-pic img {
	width: 459px;
	height: 353px;
	padding: 132px 371px 22px 372px;
}
.site-navigation a,
.if-interested a,
.main-footer a {
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.if-interested a:hover,
.if-interested a:focus {
	background-color: #81b3d2;
}
.reasons-header {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	margin: 0px 354px 56px 354px;

}
.header-one,
.sedona-search a,
.footer-contacts {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}
.header-one{
	width: 440px;
	margin: auto;
	margin-top: 61px;
	margin-bottom: 25px;
	background-color: #ffffff;
}
.sedona-header {
	display: flex;
	flex-direction: column-reverse;
}
.advantage-header {
	font-size: 21px;
	color: #ffffff;
	text-align: center;	
}
.number-one{
	width: 122px;
	padding-left: 79px;
}
.number-two{
	width: 152px;
	padding-left: 78px;
}
.advantages {
	color: #ffffff;
	display: flex;	
}

.advantage-image{
	width: 800px;
	height: 256px;
}
.recommendations-list {
	display: flex;
	justify-content: space-between;
	margin-left: 73px;
	margin-right: 63px;
}
.recommendations-list,
.advantage-number,
.advantage-text {
	text-align: center;
}
.recommendation-name {
	font-size: 21px;
	color: #000000;
	line-height: 21px;
	font-weight: bold;
}
.one>.recommendation-name {
	margin-top: 161px;
	margin-left: 92px;
	margin-right: 93px;
	text-align: center;
}
.one::before {
	content: url(../img/icon-1.svg);
	position: absolute;
	margin-top: 60px;
	width: 75px;
	height: 72px;
}
.recommendations-explanation-one {
	width: 252px;
	margin-bottom: 85px;
	margin-top: 27px;
	text-align: center;
}
.two>.recommendation-name {
	margin-bottom: 29px;
	margin-top: 164px;
	margin-left: 18px;
	margin-right: 18px;
	text-align: center;
}
.two::before {
	content: url(../img/icon-3.svg);
	position: absolute;
	margin-top: 62px;
	width: 74px;
	height: 70px;
}
.recommendations-explanation-two {
	width: 284px;
	margin-bottom: 87px;
	text-align: center;
}
.three>.recommendation-name {
	margin-bottom: 28px;
	margin-top: 164px;
	text-align: center;
}
.three::before {
	content: url(../img/icon-2.svg);
	position: absolute;
	margin-top: 56px;
	width: 64px;
	height: 76px;
}
.recommendations-explanation-three {
	width: 273px;
	margin-bottom: 86px;
	text-align: center;
}
.if-interested-header{
	font-size: 30px;
	color: #000000;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
}
/*.hotels-search {
	display: none;
}*/
.hotels-search,
.search-fields {
	color: #000000;
	text-align: left;
	font-weight: bold;
}
.social-media,
.infrastructure,
.type-of-housing {
	list-style-type: none;
}
.filter-input-checkbox label:checked,
.filter-input-checkbox label:focus,
.filter-input-checkbox label:hover {
	color: #ffffff;
}
.filter-input-checkbox:disabled {
	color: #6a6a6a;
}
.filter-header-infrastructure,
.filter-header-housing {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	font-weight: bold;
}
.filter-header-infrastructure{
	margin-left: 57px;
}
.filter-header-housing{
	margin-left: 95px;
}
.filter-input{
	position: absolute;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.check-box{
	position: absolute;
	margin-left: 19px;
	width: 24px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	margin-top: 6px;
}
.check{
	padding-left: 58px;
	color: #ffffff;
}
.option{
	padding-top:30px;
}
.filter-input:checked + .check-box{
	background-image: url(../img/checkbox-on.svg);
}
.type-of-housing{
	margin-left: 27px;
}
.filter-option{
	margin-bottom: 25px;
}

.filter-input:disabled + .check-box{
	background-image: url(../img/checkbox-off-3.svg);
}
.filter-input:checked:disabled + .check-box{
	background-image: url(../img/checkbox-on-2.svg);
}

.range-line {
	color: #ffffff;
}
.results {
	width: 115px;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	margin-top: 17px;
	margin-left: 70px;
}
.list-menu {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-top: 38px;
}
.list-menu a {
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	margin-right: 33px;
	border-bottom: 1px dotted #81b3d2;
}
.list-menu a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}
.sorting-name {
	line-height: 18px;
	margin-top: 41px;
	margin-left: -300px;
}
.list-menu a:active{
	color: #000000;
	list-style: none;
	border-bottom: none;
}
.place-name {
	margin-top: 25px;
	margin-bottom: 2px;
}
.place-name a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	text-align: left;
}
.place-name a:hover,
.place-name a:focus {
	color: #81b3d2;
}
.place-name a:active {
	color: rgba(0, 0, 0, 0.3);
}
.catalog-item {
	display: flex;
	justify-content: space-between;
	margin-right: 70px;
	margin-left: 0px;
}
.content-alignment {
	display: flex;
	justify-content: space-between;
}
.place-info {
	margin-left: 30px;
}
.place-type,
.place-price {
	display: flex;
	flex-direction: column;
}
.place-wrap {
	display: flex;
	justify-content: space-between;
}
.more-details-button,
.booking-button {
	margin-top: 18px;
	margin-right: 6px;
}
.more-details-button {
	width: 76px;
	height: 27px;
	background-color: #81b3d2;
	color: #ffffff;
	padding: 8px 17px 5px 17px;
	text-align: center;
	margin: 0;
	margin-right: 6px;
	font-weight: bold;
}
.more-details-button:hover,
.more-details-button:focus,
.form-search:hover {
	background-color: #669ec0;
}
.more-details-button:active {
	background-color: #669ec0;
	color: rgba(255, 255, 255, 0.3);
}
.booking-button {
	color: white;
	background-color: #766357;
	width: 110px;
	height: 27px;
	padding: 8px 16px 5px 16px;
	text-align: center;
	margin: 0;
	font-weight: bold;
}
.booking-button:hover,
.booking-button:focus {
	background-color: #604e43;
}
.booking-button:active {
	background-color: #604e43;
	color: rgba(255, 255, 255, 0.3);
}
.content-decor {
	color: #333333;
	margin-bottom: 7px;
	padding: 0;
}
.rating-decor {
	color: #666666;
	background-color: #f2f2f2;
	width: 110px;
	height: 27px;
	text-align: center;
	padding: 5px 13px 6px 16px;
	margin-top: 47px;
}
.social-button {
	display: block;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	text-align: center;
}
.social-media {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.advantage-description {
	background-color: #81b3d2;
	text-align: center;
    padding: 46px 60px 64px 60px;
}
.stage-2 {
	flex-direction: row-reverse;
}
.stage-3 {
	width: 1200px;
	background-color: #eeeeee;
	color: #000000;
	padding-left: 95px;
}
.number-three{
	width: 117px;
	padding-left: 46px;
}
.number-3{
	width: 208px;
}
.number-four{
	width: 100px;
	padding-left: 82px;
}
.number-4{
	width: 262px;
}
.number-five{
	width: 100px;
	padding-left: 74px;
}
.number-5{
	width: 249px;
}
.sedona-search{
	display: block;
	background-color: #766357;
	width: 568px;
	font-size: 21px;
	line-height: 26px;
	white-space: nowrap;
	min-height: 53px;
	text-align: center;
    padding-top: 33px;
    margin-left:-67px; 
    color: #ffffff;
}
.sedona-search:hover,
.sedona-search:focus {
	background-color: #604e43;
}
.sedona-search:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}
.search-fields {
	background-color: #f2f2f2;
}
.search-fields:hover {
	background-color: #ebebeb;
}
.search-fields:focus {
	background-color: #ffffff;
}
.if-interested-dates{
	text-align: center;
	margin-bottom: 52px;
}
.form-search {
	background-color: #81b3d2;
	width: 458px;
	height: 58px;
}
.form-search:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.hotels-search {
	position: absolute;
	margin: 0px 316px 78px 316px;
	width: 568px;
	height: 395px;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
	background-color: #ffffff;
}
.date-in {
	display: flex;
	height: 38px;
	padding-top: 55px;
}
.date-out {
	display: flex;
	height: 38px;
	padding-top: 29px;
}
.search-fields {
	flex-grow: 1;
	margin-right: 55px;
	margin-left: 17px;
	width: 346px;
}
.count-field {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.count {
	width: 38px;
	margin-top: 30px;
	text-align: center;
}
.form-search {
	margin-top: 66px;
	margin-left: 55px;
	margin-right: 55px;
	margin-bottom: 55px;
}
.date-space {
	margin-left: 55px;
}

.if-interested{
	text-align: center;
	width: 434px;
	margin-left: 383px;
	margin-top: 57px;
}
.map img {
	display: block;
	width: 100%;
}
.footer-contacts {
	display: flex;
	flex-direction: column;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
.main-footer{
	background-color: #ffffff;
}
.social-media ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 144px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	margin: 3px;
	margin-top: 36px;
	margin-bottom: 36px;
}
.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}
.social-button:active {
	background-color: #5496bd;
}
.social-button img:active {
	opacity: 0.3;
}
.filters,
.filters-block {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 0px;
}
.filters-block{
	margin-top: 80px;
}
.filters fieldset {
	border: none;
}
.sorting-menu {
	display: flex;
	justify-content: space-between;
}
.price:active {
	color: #81b3d2;
	border: none;
}
.sorting-block {
	display: flex;
	justify-content: space-between;
}
.sorting-de-ascending ul {
	list-style: none;
}
.sorting-de-ascending {
	margin-top: 25px;
}
.sorting-icon {
	display: flex;
	justify-content: space-between;
	margin-right: 60px;
}
.active-icon:active{
    fill: #81b3d2;
}
.sorting-icon li {
	padding-right: 12px;
}
.arrow-up path,
.arrow-down path {
	fill: #cacaca;
}
.arrow-up:hover path,
.arrow-down:hover path {
	fill: #000000;
}
.arrow-up:active path,
.arrow-down:active path {
	fill: #81b3d2;
}
.courses-logo:hover path {
	fill: #81b3d2;
}
.courses-logo:active path {
	fill: #bdbbbc;
}
.star {
	background-color: #ffffff;
	background-image: url("../img/star.svg");
	background-position: top right;
	background-repeat: repeat;
	height: 17px;
	margin-bottom: 47px;
	margin-left: auto;
	margin-top: 29px;
}
.first {
	width: 73px;
}
.second {
	width: 55px;
}
.third {
	width: 36px;
}
.footer {
	display: flex;
	justify-content: space-between;
}
.footer-copyright {
	display: flex;
	line-height: 26px;
	color: #000000;
}
.twitter{
	margin-left: -40px;
}
.hashtag {
	width: 136px;
	height: 16px;
	margin-left: 132px;
	padding-top: 36px;
	padding-bottom: 16px;
}
.phone {
	width: 223px;
	height: 20px;
	margin-left: 132px;
	padding-bottom: 32px;
	white-space: nowrap;
	margin-right: 84px;
}
.courses-logo {
	width: 115px;
	height: 41px;
	padding-top: 47px;
	padding-bottom: 40px;
	margin-left: 8px;
	margin-right: 101px;
}
.website-by {
	width: 74px;
	height: 11px;
	margin-left: 114px;
	margin-top: 39px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.place-pic img {
	width: 135px;
	height: 90px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 72px;
}
.filter-range {
  width: 330px;
  margin-top: 83px;
  margin-right: 73px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}