body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat; 
}
a {
  text-decoration: none;
}

.form-search {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.form-search:hover,
.form-search:focus,
.form-search:active {
  background-color: #663d15;
}
.main-header-logo,
.welcome-pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.main-navigation,
.footer-copyright {
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}
.site-navigation,
.footer-social {
  list-style: none;
}
.site-navigation a,
.if-interested a,
.main-footer a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.if-interested a:hover,
.if-interested a:focus,
.main-footer a:hover,
.main-footer a:focus {
  background-color: #81b3d2;
}
.reasons h2{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}
h1,
a.search,
.footer-contacts{
 text-align: center;
 font-size: 21px;
 line-height: 26px;	
 color: black;
}
h2{
font-size: 21px;
color:#ffffff;
text-align: center;

}
.advantages{
	color: #ffffff;
	background-color: #81b3d2;
}

.recommendations-list,
span,
p
{
text-align: center;
}
dt{
font-size: 21px;
color: black;
line-height: 21px;
font-weight: bold;
}
h3{
font-size: 30px;
color: black;
line-height: 36px;
font-weight: bold;	
text-align: center;
}
.hotels-search,
input{
color: black;
text-align: left;
font-weight: bold;
}

